$purple: #8e4f78;
$green: #739F3E;
$gray: #959991;
$lightgray: #F2F2F2;
$yellow: #FCB733;

body {
  font-family: 'Roboto Condensed';
  font-size: 1.2em;
  width: 100%;
}

h1 {
  color: $purple;
  font-weight: 700;
}

a, a:focus, a:hover, a:active, input:focus, button:focus {
  outline: 0;
}

input[type="submit"], button {
  font-size: 1.5em;
  font-family: 'Roboto Condensed';
  border-radius: 0.25rem;
  color: white;
  padding: 0.5em 0.6em;
  cursor: pointer;
  &:active {
    border: none;
  }
}

.flexrow-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap-reverse;
  flex-flow: row wrap-reverse;
  -webkit-justify-content: center;
  justify-content: center;
}

.flexcolumn-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

header {
  z-index: 20;
  .nav-wrapper {
    border-color: $green;
  }
  .nav-item {
    padding-top: 0.3em;
    border-color: rgba(0,0,0,0);
    text-decoration: none;
    font-weight: 700;
    color: inherit;
  }
  .nav-right img {
    height: 31px;
  }
  @media screen and (min-width: 550px) {
    font-size: 1.4rem;
  }
  @media screen and (max-width: 550px) {
    .nav-right .subtitle {
      display: none;
    }
  }
  .count-component {
    background-color: $lightgray;
    font-weight: 700;
    font-size: 1.2em;
  }
}

.election-component {
  border-color: $green;
  h2 {
    font-size: 1.9em;
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1.1em;
    color: $purple;
  }
  .links {
    border-top: 0;
    border-right: 1px solid $green;
    border-bottom: 0;
    border-left: 0;
    div:first-child {
      border-bottom: 1px solid $green;
    }
    @media screen and (max-width: 700px) {
      width: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      border-top: 1px solid $green;
      border-right: 0;
      div:first-child {
        border-bottom: 0;
        border-right: 1px solid $green;
      }
    }
    div {
      flex: 1;
      border-color: $green;
    }
    a {
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: $green;
      font-weight: 700;
      letter-spacing: 1px;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      &:hover {
        color: white;
        background-color: $green;
      }
    }
  }
}

.voting-code-view {
  text-align: center;
  #text-keyword {
    color: $yellow;
  }
  .input-group {
    margin-top: 2em;
  }
  .form-control:focus {
    box-shadow: 0;
  }
  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
    font-size: 2em;
    border-color: $green;
    margin-right: 0.25em;
  }
  input[type="submit"] {
    background-color: $green;
    border-color: $green;
    letter-spacing: 1px;
  }
}

.proposals-view {
  button.submit {
    background-color: $purple;
    border-color: $purple;
    font-size: 1.5em;
  }
  .proposals {
    margin: 0 auto;
    margin-top: 2em;
    padding: 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
    .proposal-component {
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      h5 {
        letter-spacing: 1px;
        color: $purple;
        cursor: pointer;
      }
      button.select, button.remove, button.selected {
        padding-bottom: 0.4em;
      }
      button.select {
        color: $green;
        border: 1px solid $green;
        padding-bottom: 0.4em;
        &:hover {
          color: white;
          background-color: $green;
        }
      }
      button.selected {
        color: white;
        border: 1px solid $green;
        background-color: $green;
      }
      button.remove {
        color: $gray;
        border: 1px solid $gray;
        &:hover {
          background-color: $lightgray;
        }
      }
    }
  }
}
