$purple: #8e4f78;
$green: #739F3E;
$gray: #959991;
$lightgray: #F2F2F2;
$yellow: #FCB733;

body {
  font-family: 'Roboto Condensed';
  font-size: 1.2em;
  width: 100%;
}

h1 {
  color: $purple;
  font-weight: 700;
}

a, a:focus, a:hover, a:active, input:focus, button:focus {
  outline: 0;
}

button, input, optgroup, select, textarea {
  font-family: 'Roboto Condensed';
}

input[type="submit"], input[type="button"], button {
  font-size: 1.5em;
  font-family: 'Roboto Condensed';
  border-radius: 0.5rem;
  color: white;
  padding: 0.5em 0.6em;
  cursor: pointer;
  &:disabled {
    background-color: #AAA;
    border-color: #AAA;
    cursor: not-allowed;
  }
  &:active {
    border: none;
  }
}

.flexrow {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flexrow-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
}

.flexrow-reverse-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap-reverse;
  flex-flow: row wrap-reverse;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
}

.flexcolumn-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: center;
  justify-content: center;
  align-self: stretch;
}

header {
  z-index: 20;
  .nav-wrapper {
    border-color: $green;
  }
  .nav-item {
    padding-top: 0.3em;
    border-color: rgba(0,0,0,0);
    text-decoration: none;
    font-weight: 700;
    color: inherit;
  }
  .nav-right img {
    height: 31px;
  }
  @media screen and (min-width: 550px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 550px) {
    .nav-right .subtitle {
      display: none;
    }
  }
  .count-component {
    background-color: $lightgray;
    font-weight: 700;
    font-size: 1.2em;
  }
}

.vote-in-person {
  img {
    width: 100%;
    max-width: 900px;
  }
}

.election-component {
  width: 49%;
  border-color: $purple;
  h2 {
    font-size: 1.9em;
  }
  h3 {
    font-size: 1.1em;
  }
  ul {
    -webkit-padding-start: 20px;
  }
  @media screen and (max-width: 950px) {
    width: 100%;
  }
  .links {
    border: 2px solid $green;
    border-radius: 10px;
    margin-top: 1em;
    background-color: rgba(115, 159, 62, 0.85);
    width: 270px;
    @media screen and (min-width: 480px) {
      width: 350px;
    }
    a {
      text-decoration: none;
      color: white;
      font-weight: 700;
      letter-spacing: 1px;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      &:hover {
        color: white;
        background-color: $green;
      }
    }
  }
}

.voting-code-view {
  text-align: center;
  #g-recaptcha {
    display: inline-block;
  }
  .error {
    width: 330px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    &.not-found {
      background-color: #FF7C7C;
      border: 1px solid #FF6666;
    }
    &.already-voted {
      background-color: #FD7;
      border: 1px solid #FFD863;
    }
  }
  #text-keyword {
    color: $yellow;
  }
  .input-group {
    margin-top: 2em;
  }
  .input-group-prepend {
    margin-left: 1em;
  }
  p {
    line-height: 1em;
  }
  .voter-auth-form {
    width: 292px;
    margin: 0 auto;
  }
  select#campus {
    margin-bottom: 10px;
    width: 165px;
    height: inherit;
    border-color: $green;
    border-width: 1px;
  }
  .required {
    margin-left: 0.2em;
    margin-right: 0.75em;
    color: red;
  }
  .form-control:focus {
    box-shadow: none;
  }
  input[type="text"]::-webkit-outer-spin-button, input[type="text"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="text"] {
    -moz-appearance: textfield;
    font-size: 1.5em;
    border-color: $green;
    border-width: 1px;
    margin-bottom: 10px;
  }
  select {
    font-size: 1em;
    font-weight: bold;
  }
  input[type="button"] {
    background-color: rgba(115, 159, 62, 0.85);
    border-color: $green;
    letter-spacing: 1px;
    margin-bottom: 10px;
    &:hover {
      background-color: $green;
    }
    &:disabled {
      background-color: #AAA;
      border-color: #AAA;
      cursor: not-allowed;
    }
    &:active {
      margin: 1px 1px 11px;
    }
  }
}

.proposals-view {
  p { line-height: 1.4em; }
  .confirmation {
    color: $purple;
  }
  input.submit {
    background-color: rgba(142, 79, 120, 0.95);
    border-color: $purple;
    font-size: 1.5em;
    &:hover {
      background-color: $purple;
    }
    &:disabled {
      background-color: #AAA;
      border-color: #AAA;
      cursor: not-allowed;
    }
  }
  .proposals {
    margin: 0 auto;
    margin-top: 2em;
    padding: 0;
    border-top: 1.75px solid $purple;
    border-left: 1.5px solid $purple;
    .proposal-component {
      border-right: 1.5px solid $purple;
      border-bottom: 1.5px solid $purple;
      h5 {
        letter-spacing: 1px;
        color: $purple;
        cursor: pointer;
      }
      button.select, button.remove, button.selected {
        padding-bottom: 0.4em;
      }
      button.select {
        color: $green;
        border: 1.5px solid $green;
        padding-bottom: 0.4em;
        &:hover {
          color: white;
          background-color: $green;
        }
      }
      button.selected {
        color: white;
        border: 1.5px solid $green;
        background-color: $green;
      }
      button.remove {
        color: $gray;
        border: 1.5px solid $gray;
        &:hover {
          background-color: $lightgray;
        }
      }
      .checkbox input {
        display: none;
        margin: 4px 0 0;
        line-height: normal;
        box-sizing: border-box;
        border-radius: 0;
      }
      .checkbox label {
        position: relative;
        cursor: pointer;
      }
      .checkbox label:before {
        content: "";
        position: absolute;
        left: 0;
        width: 2.5rem;
        height: 2.5rem;
        border: .0625rem solid #CCCCCC;
        border-radius: .125rem;
        box-shadow: 0 0rem 0.1563rem rgba(0, 0, 0, 0.5);
      }
      .checkbox input:checked + label:before {
        content: "\2713";
        font-size: 3.2rem;
        color: #8e4f78;
        text-align: center;
        line-height: 2.7rem;
        text-shadow: .0625rem .0625rem .0625rem rgba(0, 0, 0, .2);
      }
      .thumbnail-wrapper {
        position: relative;
        img { cursor: pointer }
        .more-images-icon {
          position: absolute;
          right: 0.3em;
          bottom: 0.3em;
          background-color: rgba(255,255,255,0.5);
          font-size: 2em;
          padding: 0.2em;
          border-radius: 0.2em;
        }
      }
      .rc-modal-panel div { width: 100% }
      .image-gallery-wrapper {
        @media screen and (min-width: 1000px) {
          padding: 0 10em;
        }
        @media screen and (min-width: 1300px) {
          padding: 0 15em;
        }
        @media screen and (min-width: 1500px) {
          padding: 0 20em;
        }
        @media screen and (min-width: 1600px) {
          padding: 0 25em;
        }
      }
      .image-gallery {
        background-color: white;
        border-radius: 5px;
        padding: 1em;
        position: relative;
        .fa-times-circle {
          position: absolute;
          right: 0.2em;
          top: 0.2em;
          z-index: 1;
          &:before {
            background: white;
            border-radius: 0% 0% 0% 100%;
          }
          &:hover { color: $gray }
        }
        .carousel-inner>.carousel-item>a>img, .carousel-inner>.carousel-item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
          width: 100%;
        }
        .carousel-indicators .active { background-color: $purple }
        .carousel-control-next, .carousel-control-prev {
          top: auto;
          bottom: 50px;
          opacity: 1;
          &:hover { opacity: .5 }
          @media screen and (max-width: 768px) {
            bottom: 30px;
          }
        }
      }
    }
  }
}

/* loading */

.loading-component {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 300px !important;
  .loading-dots {
    position: relative;
    height: 0;
    width: 0;
    span{
      display: block;
      height: 20px;
      width: 20px;
      background: $purple;
      position: absolute;
      border-radius: 50%;

      &:nth-of-type(1){
        left: -40px;
        animation: loader1Anim 1.5s ease-out;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: forwards;
      }
      &:nth-of-type(2){
        left:-10px;
        animation: loader1Anim 1.5s ease;
        animation-delay: .2s;
        animation-iteration-count: infinite;
        animation-direction: forwards;
      }
      &:nth-of-type(3){
        left: 20px;
        animation: loader1Anim 1.5s ease;
        animation-delay: .4s;
        animation-iteration-count: infinite;
        animation-direction: forwards;
      }
    }
  }
}

@keyframes loader1Anim {
  from,to {
     transform: scale3d(1.15, 0.80, 1);
  }
  42% {
    transform: translateY(-45px) ;
  }
  88%{
    transform: scale3d(1,1,1);
  }
  95%{
    transform: translateY(0) scale3d(1.05, 0.85, 1);
  }
  98% {
    transform: scale3d(1.15, 0.80, 1);
  }
}
