<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>PB VOTE</title>
      {% style "/assets/bootstrap/css/bootstrap.min.css" %}
      {% style "/assets/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css" %}
      <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,500,700" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.0/css/tachyons.min.css"/>
      {% style "/css/screen.css" %}
  </head>
  <body>

    <div id="app">
      Loading...
    </div>

    {% script "/assets/jquery/jquery.min.js" %}
    {% script "/assets/font-awesome/svg-with-js/js/fontawesome.min.js" %}
    {% script "/assets/tether/dist/js/tether.min.js" %}
    {% script "/assets/bootstrap/js/bootstrap.min.js" %}

    <script type="text/javascript">
        var context = "{{servlet-context}}";
        var csrfToken = "{{csrf-token}}";
    </script>
    {% script "/js/app.js" %}
  </body>
</html>
