body {
  font-family: 'Roboto Condensed';
  font-size: 1.2em;
  width: 100%; }

h1 {
  color: #8e4f78;
  font-weight: 700; }

a, a:focus, a:hover, a:active, input:focus, button:focus {
  outline: 0; }

button, input, optgroup, select, textarea {
  font-family: 'Roboto Condensed'; }

input[type="submit"], input[type="button"], button {
  font-size: 1.5em;
  font-family: 'Roboto Condensed';
  border-radius: 0.5rem;
  color: white;
  padding: 0.5em 0.6em;
  cursor: pointer; }
  input[type="submit"]:disabled, input[type="button"]:disabled, button:disabled {
    background-color: #AAA;
    border-color: #AAA;
    cursor: not-allowed; }
  input[type="submit"]:active, input[type="button"]:active, button:active {
    border: none; }

.flexrow {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.flexrow-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center; }

.flexrow-reverse-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap-reverse;
  flex-flow: row wrap-reverse;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center; }

.flexcolumn-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: center;
  justify-content: center;
  align-self: stretch; }

header {
  z-index: 20; }
  header .nav-wrapper {
    border-color: #739F3E; }
  header .nav-item {
    padding-top: 0.3em;
    border-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    font-weight: 700;
    color: inherit; }
  header .nav-right img {
    height: 31px; }
  @media screen and (min-width: 550px) {
    header {
      font-size: 1.5rem; } }
  @media screen and (max-width: 550px) {
    header .nav-right .subtitle {
      display: none; } }
  header .count-component {
    background-color: #F2F2F2;
    font-weight: 700;
    font-size: 1.2em; }

.vote-in-person img {
  width: 100%;
  max-width: 900px; }

.election-component {
  max-width: 900px; }
  .election-component img {
    width: 300px;
    margin-bottom: 0.75em; }
  .election-component h1 {
    font-size: 2.5em; }
  .election-component h3 {
    font-size: 1.1em;
    margin-bottom: 1em; }
  .election-component ul {
    -webkit-padding-start: 20px; }
  .election-component .links {
    border: 2px solid #739F3E;
    border-radius: 10px;
    margin-top: 1em;
    background-color: rgba(115, 159, 62, 0.85);
    width: 270px; }
    @media screen and (min-width: 480px) {
      .election-component .links {
        width: 350px; } }
    .election-component .links a {
      text-decoration: none;
      color: white;
      font-weight: 700;
      letter-spacing: 1px;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center; }
      .election-component .links a:hover {
        color: white;
        background-color: #739F3E; }

.voting-code-view {
  text-align: center; }
  .voting-code-view #g-recaptcha {
    display: inline-block; }
  .voting-code-view .error {
    width: 330px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    display: inline-block; }
    .voting-code-view .error.not-found {
      background-color: #FF7C7C;
      border: 1px solid #FF6666; }
    .voting-code-view .error.already-voted {
      background-color: #FD7;
      border: 1px solid #FFD863; }
  .voting-code-view #text-keyword {
    color: #FCB733; }
  .voting-code-view .input-group {
    margin-top: 2em; }
  .voting-code-view .input-group-prepend {
    margin-left: 1em; }
  .voting-code-view p {
    line-height: 1em; }
  .voting-code-view .voter-auth-form {
    width: 292px;
    margin: 0 auto; }
  .voting-code-view select#campus {
    margin-bottom: 10px;
    width: 165px;
    height: inherit;
    border-color: #739F3E;
    border-width: 1px; }
  .voting-code-view select#campus.input-error, .voting-code-view input[type="text"].input-error {
    border-color: red; }
  .voting-code-view .required {
    margin-left: 0.2em;
    margin-right: 0.75em;
    color: red; }
  .voting-code-view .form-control:focus {
    box-shadow: none; }
  .voting-code-view input[type="text"]::-webkit-outer-spin-button, .voting-code-view input[type="text"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .voting-code-view input[type="text"] {
    -moz-appearance: textfield;
    font-size: 1.5em;
    border-color: #739F3E;
    border-width: 1px;
    margin-bottom: 10px; }
  .voting-code-view select {
    font-size: 1em;
    font-weight: bold; }
  .voting-code-view input[type="button"], .voting-code-view button#send-code, .voting-code-view button#submit-code {
    background-color: rgba(115, 159, 62, 0.85);
    border-color: #739F3E;
    letter-spacing: 1px;
    margin-bottom: 10px; }
    .voting-code-view input[type="button"]:hover, .voting-code-view button#send-code:hover, .voting-code-view button#submit-code:hover {
      background-color: #739F3E; }
    .voting-code-view input[type="button"]:disabled, .voting-code-view button#send-code:disabled, .voting-code-view button#submit-code:disabled {
      background-color: #AAA;
      border-color: #AAA;
      cursor: not-allowed; }
    .voting-code-view input[type="button"]:active, .voting-code-view button#send-code:active, .voting-code-view button#submit-code:active {
      margin: 1px 1px 11px; }

.proposals-view p {
  line-height: 1.4em; }

.proposals-view .confirmation {
  color: #8e4f78; }

.proposals-view input.submit {
  background-color: rgba(142, 79, 120, 0.95);
  border-color: #8e4f78;
  font-size: 1.5em; }
  .proposals-view input.submit:hover {
    background-color: #8e4f78; }
  .proposals-view input.submit:disabled {
    background-color: #AAA;
    border-color: #AAA;
    cursor: not-allowed; }

.proposals-view .proposals {
  margin: 0 auto;
  margin-top: 2em;
  padding: 0;
  border-top: 1.75px solid #8e4f78;
  border-left: 1.5px solid #8e4f78; }
  .proposals-view .proposals .proposal-component {
    border-right: 1.5px solid #8e4f78;
    border-bottom: 1.5px solid #8e4f78; }
    .proposals-view .proposals .proposal-component h4 {
      letter-spacing: 1px;
      color: #8e4f78;
      cursor: pointer; }
    .proposals-view .proposals .proposal-component button.select, .proposals-view .proposals .proposal-component button.remove, .proposals-view .proposals .proposal-component button.selected {
      padding-bottom: 0.4em; }
    .proposals-view .proposals .proposal-component button.select {
      color: #739F3E;
      border: 1.5px solid #739F3E;
      padding-bottom: 0.4em; }
      .proposals-view .proposals .proposal-component button.select:hover {
        color: white;
        background-color: #739F3E; }
    .proposals-view .proposals .proposal-component .proposal-detail p {
      margin-bottom: 0.5em; }
    .proposals-view .proposals .proposal-component button.selected {
      color: white;
      border: 1.5px solid #739F3E;
      background-color: #739F3E; }
    .proposals-view .proposals .proposal-component button.remove {
      color: #959991;
      border: 1.5px solid #959991; }
      .proposals-view .proposals .proposal-component button.remove:hover {
        background-color: #F2F2F2; }
    .proposals-view .proposals .proposal-component .checkbox input {
      display: none;
      margin: 4px 0 0;
      line-height: normal;
      box-sizing: border-box;
      border-radius: 0; }
    .proposals-view .proposals .proposal-component .checkbox label {
      position: relative;
      cursor: pointer; }
    .proposals-view .proposals .proposal-component .checkbox label:before {
      content: "";
      position: absolute;
      left: 0;
      width: 2.5rem;
      height: 2.5rem;
      border: .0625rem solid #CCCCCC;
      border-radius: .125rem;
      box-shadow: 0 0rem 0.1563rem rgba(0, 0, 0, 0.5); }
    .proposals-view .proposals .proposal-component .checkbox input:checked + label:before {
      content: "\2713";
      font-size: 3.2rem;
      color: #8e4f78;
      text-align: center;
      line-height: 2.7rem;
      text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.2); }
    .proposals-view .proposals .proposal-component .thumbnail-wrapper {
      position: relative; }
      .proposals-view .proposals .proposal-component .thumbnail-wrapper img {
        cursor: pointer; }
      .proposals-view .proposals .proposal-component .thumbnail-wrapper .more-images-icon {
        position: absolute;
        right: 0.3em;
        bottom: 0.3em;
        background-color: rgba(255, 255, 255, 0.5);
        font-size: 2em;
        padding: 0.2em;
        border-radius: 0.2em; }
    .proposals-view .proposals .proposal-component .rc-modal-panel div {
      width: 100%; }
    @media screen and (min-width: 1000px) {
      .proposals-view .proposals .proposal-component .image-gallery-wrapper {
        padding: 0 10em; } }
    @media screen and (min-width: 1300px) {
      .proposals-view .proposals .proposal-component .image-gallery-wrapper {
        padding: 0 15em; } }
    @media screen and (min-width: 1500px) {
      .proposals-view .proposals .proposal-component .image-gallery-wrapper {
        padding: 0 20em; } }
    @media screen and (min-width: 1600px) {
      .proposals-view .proposals .proposal-component .image-gallery-wrapper {
        padding: 0 25em; } }
    .proposals-view .proposals .proposal-component .image-gallery {
      background-color: white;
      border-radius: 5px;
      padding: 1em;
      position: relative; }
      .proposals-view .proposals .proposal-component .image-gallery .fa-times-circle {
        position: absolute;
        right: 0.2em;
        top: 0.2em;
        z-index: 1; }
        .proposals-view .proposals .proposal-component .image-gallery .fa-times-circle:before {
          background: white;
          border-radius: 0% 0% 0% 100%; }
        .proposals-view .proposals .proposal-component .image-gallery .fa-times-circle:hover {
          color: #959991; }
      .proposals-view .proposals .proposal-component .image-gallery .carousel-inner > .carousel-item > a > img, .proposals-view .proposals .proposal-component .image-gallery .carousel-inner > .carousel-item > img, .proposals-view .proposals .proposal-component .image-gallery .img-responsive, .proposals-view .proposals .proposal-component .image-gallery .thumbnail a > img, .proposals-view .proposals .proposal-component .image-gallery .thumbnail > img {
        width: 100%; }
      .proposals-view .proposals .proposal-component .image-gallery .carousel-indicators .active {
        background-color: #8e4f78; }
      .proposals-view .proposals .proposal-component .image-gallery .carousel-control-next, .proposals-view .proposals .proposal-component .image-gallery .carousel-control-prev {
        top: auto;
        bottom: 50px;
        opacity: 1; }
        .proposals-view .proposals .proposal-component .image-gallery .carousel-control-next:hover, .proposals-view .proposals .proposal-component .image-gallery .carousel-control-prev:hover {
          opacity: .5; }
        @media screen and (max-width: 768px) {
          .proposals-view .proposals .proposal-component .image-gallery .carousel-control-next, .proposals-view .proposals .proposal-component .image-gallery .carousel-control-prev {
            bottom: 30px; } }

/* loading */
.loading-component {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 300px !important; }
  .loading-component .loading-dots {
    position: relative;
    height: 0;
    width: 0; }
    .loading-component .loading-dots span {
      display: block;
      height: 20px;
      width: 20px;
      background: #8e4f78;
      position: absolute;
      border-radius: 50%; }
      .loading-component .loading-dots span:nth-of-type(1) {
        left: -40px;
        animation: loader1Anim 1.5s ease-out;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: forwards; }
      .loading-component .loading-dots span:nth-of-type(2) {
        left: -10px;
        animation: loader1Anim 1.5s ease;
        animation-delay: .2s;
        animation-iteration-count: infinite;
        animation-direction: forwards; }
      .loading-component .loading-dots span:nth-of-type(3) {
        left: 20px;
        animation: loader1Anim 1.5s ease;
        animation-delay: .4s;
        animation-iteration-count: infinite;
        animation-direction: forwards; }

@keyframes loader1Anim {
  from, to {
    transform: scale3d(1.15, 0.8, 1); }
  42% {
    transform: translateY(-45px); }
  88% {
    transform: scale3d(1, 1, 1); }
  95% {
    transform: translateY(0) scale3d(1.05, 0.85, 1); }
  98% {
    transform: scale3d(1.15, 0.8, 1); } }
